.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-rectangle1 {
  top: 280px;
  left: 485px;
  width: 491px;
  height: 453px;
  position: absolute;
  border-radius: 50px;
}
.desktop1-ellipse1 {
  top: 400px;
  left: 621px;
  width: 219px;
  height: 213px;
  position: absolute;
}
.desktop1-polygon1 {
  top: 379px;
  left: 605px;
  width: 99px;
  height: 93px;
  position: absolute;
}
.desktop1-ellipse2 {
  top: 479px;
  left: 678px;
  width: 33px;
  height: 33px;
  position: absolute;
}
.desktop1-ellipse3 {
  top: 479px;
  left: 739px;
  width: 33px;
  height: 33px;
  position: absolute;
}
.desktop1-ellipse4 {
  top: 484px;
  left: 690px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.desktop1-ellipse5 {
  top: 484px;
  left: 751px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.desktop1-ellipse6 {
  top: 520px;
  left: 694px;
  width: 73px;
  height: 34px;
  position: absolute;
}
.desktop1-ellipse7 {
  top: 531px;
  left: 710px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.desktop1-ellipse8 {
  top: 531px;
  left: 737px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.desktop1-vector1 {
  top: 563px;
  left: 703.5px;
  width: 55px;
  height: 22px;
  position: absolute;
}
.desktop1-polygon2 {
  top: 378px;
  left: 752px;
  width: 99px;
  height: 93px;
  position: absolute;
}
